.Input{
    display: flex;
    padding: 10px;
    margin: 10px;
}

.Input__label{
    display: flex;
    flex: 3;
    align-items: center;
    padding-right: 10px;
    color: #0C0A09;
    font-size: 20px;
}

.Input__input{
    border-radius: 5px;
    display: flex;
    flex: 7;
    padding: 10px;
    padding-left: 10px;
    caret-color: #1E1B4B;
    border: none;
    width: 100%;
    font-size: 20px;
    color: #0C0A09;
    background-color: #E7E5E4;
}

.Input__input:focus{
    outline: none
}
