.Descricao {
    height: '100%';
    background-color: #532AEF;
}

.Descricao__paineis{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}

.Descricao__form{
    padding: 50px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.Descricao__categoria{
    color: #0C0A09;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.Descricao__link{
    color: #0C0A09;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.Descricao__link a{
    color: #532AEF;
    text-decoration: none;   
    cursor: pointer;
}

.Descricao__trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Descricao__descricao{
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.Descricao__imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px
}